.button{
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  background-color: rgba(0,0,0,.25);
  color: aliceblue;
  cursor: pointer;
}
.cart{

}
.carticon{

}
.badge{
  width: 30px;
  border-radius: 40%;
  padding: .25rem;
  background-color: brown;
}